.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.app__button {
  font-size: 16px;
  padding: 10px;
  border-radius: 50px;
  background-color: #50d71e;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

.darkmode {
  background-color: black;
  color: white;
}

.navbar {
  display: flex;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 999;
  background-color: white;
  border-bottom: solid lightgray 1px;
}

.navbar > h1 {
  font-size: 20px;
}

.app__userlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 40px;
  margin-top: 40px;
}

.user__card {

}

.user__info {


}

.user__work {

  
}